@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
  font-family: "Lora", serif;
}

/* temporary */
@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 215, 0, 1);
  }
}
.animate-glow {
  animation: glow 1.5s infinite;
}
